.app-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* padding: 20px; */
  width: 100%;
}

header {
  text-align: center;
  margin-bottom: 20px;
  background-color: #007bff;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.date-time-row {
  display: flex;
  /* justify-content: center; */
  margin-bottom: 20px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  /* margin-left: 10px; */
  /* z-index: 999; */
}

.react-datepicker {
  /* width: 150px; */
  margin-right: 10px;
  border: none;
}

input {
  padding: 5px;
}

.time-picker {
  width: 100px;
}
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.locations-weather-row {
  display: flex 0;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 20px;
  /* flex-wrap: wrap;  */
  flex: 70%;
}

.weather-row {
  align-items: center;
  justify-content: center;
  flex: 30%;
}

.locations-weather-row div {
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.2s;
}

.locations-weather-row div.selected {
  background-color: #007bff;
  color: #fff;
}

.weather-forecasts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.screenshot-row {
  justify-content: center;
  display: flex 0;
  flex: 70%;
}


.screenshot-image {
  max-width: 100%;
  width: 70%;
  max-height: 500px;
}

.time-picker-container {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-family: Arial, sans-serif;
}


.time-picker-clock {
  border: 2px solid #007bff;
  border-radius: 50%;
}


.time-picker-dial {
  background-color: #007bff;
}


.custom-time-picker-class {
  background-color: #f0f0f0;
  border: 2px solid #333;
  color: #333;
}
