html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

a {
  color: #007bff; 
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  text-decoration: underline;
}
